.logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.label,
.tile-subtitle {
  font-size: 0.6rem;
}

.btn-primary {
  background: #4f8fcc !important;
  border-color: #3b82c6 !important;
  color: #fff !important;
}

.btn-success {
  background: #3bc673 !important;
  border-color: #4fcc81 !important;
  color: #fff !important;
}

.btn-link {
  color: #4f8fcc !important;
  border: none !important;
}

.label-success,
.chip-success {
  background: #ecfaee !important;
  color: #248931 !important;
}

.label-error,
.chip-error {
  background: #faeeec !important;
  color: #c74834 !important;
}

.label-warning,
.chip-warning {
  background: #ffeec4 !important;
  color: #9d7100 !important;
}

.chip-secondary {
  background: #f1f1fc;
  color: #5755d9;
}

.text-primary {
  color: #4f8fcc !important;
}

.text-error {
  color: #c74834 !important;
}

.text-no-underline,
.text-no-underline:hover {
  text-decoration: none;
}

.bar-item {
  font-size: 0.6rem !important;
}

.text-focus_time {
  color: #ff1d39;
}

.img-focus_time {
  border: 2px solid #ff1d39;
}

.avatar {
  background: transparent;
  color: #4f8fcc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
